<h1>{{title}}</h1>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Filename</th>
		</tr>
	</thead>
	<tbody>
		{{#posts}}
			<tr>
				<td>{{this.title}}</td>
				<td>{{this.description}}</td>
				<td>{{this.filename}}</td>
			</tr>
		{{/posts}}

	</tbody>
	
</table>