<h2>{{title}}</h2>
<h3>{{this.title}}</h3>

{{!-- normally, it might be dangerous to allow users to publish unescaped content, but this is on the local file system... so we'll see what happens --}}

<div contentEditable>{{{content}}}</div>